/*Globals*/
.home-wrapper {
  margin: 42px auto;
  padding: 72px 48px;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 4px;
}

.link-wrapper{
  display: inline-block;
}

.link-title{
  font-size: 100px;
}