/*Globals*/

.home-wrapper {
  margin: 42px auto;
  padding: 72px 48px;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 4px;
}

.intro.container {
  justify-content: center;
  
}

.order-link-wrapper{
  text-align: center;
  
  background-image: url("../../images/assets/pizza-1.jpg");
}

.booking-link-wrapper{
  text-align: center;
  background-image: url("../../images/assets/pizza-2.jpg");
}

.hours-wrapper{
  text-align: center;
  background-color: $color-main;

}

a{
  text-decoration: none;
  margin: 10px;
  color: $color-light;
}
a:hover{
  text-decoration: none;
  margin: 10px;
  color: $color-light;
}
/*slider*/
#carousel {
  margin-top: 80px;
}

.carousel-item{
  display:flex;
}
.card-img{
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 5px;

}


/*gallery*/

.gallery {
  margin-top: 80px;
  display: flex;
  justify-content: center;
 
}

.first-row, .second-row{
  flex: none;
  display: inline-flex;
}  

.gallery-item{
  display:flex;
  
  img{
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 5px;
    
  }
}
.icon-wrapper{
  
  i{
    color: $color-light;
    font-size: 20px;
    padding: 4px;
    
  }
}
.home-page-footer {
  color: #ff6b6b;
  text-align:center;
}